<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @winner.Year %>
</p>

<p>
  <b>Team:</b>
  <%= @winner.Team %>
</p>

<p>
  <b>Year:</b>
  <%= @winner.Year %>
</p>

<p>
  <b>Points:</b>
  <%= @winner.Points %>
</p>


<%= link_to 'Edit', edit_winner_path(@winner) %> |
<%= link_to 'Back', winners_path %>
